.formControl.error input,
.formControl.error textarea
{
    border: solid red 2px;
}

.formControl.error span {
    color: red;
}

.formSummoryError {
    border: red 1px solid;
    padding: 5px;
    color: red;
}

/* Все с логина ///////////////////////////////////////////// */

.login_header {
    text-align: center;
}
.login_forms {
    text-align: center;
}
.login_form{
    margin-bottom: 20px;
}

.login_form input{
    padding: 10px;
}

/* В хеадере логин!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
