.header {
  grid-area: h;
  background-color: lightskyblue;
}

.header img {
  width: 80px;
}

.loginBlock {
  padding-top: 5px;
  padding-right: 20px;
  float: right;
}

.loginBlock a {
  color: #fff;
}
.login{
  text-decoration: none;
}