.avatar img{
  width: 200px;
}

.descriptionBlock {
  padding: 10px;
}

.contact {
  padding-left: 10px;
}

.profileInfo {
  padding-top: 15px;
}

.edit {
  padding-top: 15px;
}

.statusCursor{
  cursor: pointer;
}

.download{
  padding-bottom: 10px;
}